$primary-35: rgba(238, 86, 34, 0.35);
$primary-80: rgba(238, 86, 34, 0.8);

.markdown {
  * {
    @apply my-2;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold my-6;
  }
  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
  h4 {
    @apply text-lg;
  }
  h5,
  h6 {
    @apply text-base;
  }
  a {
    @apply relative;
    background-size: 100% 200%;
    background-position: 0 0;
    transition: background-position 200ms ease-in, padding 200ms ease-in-out;
    background-image: linear-gradient(
      transparent 0%,
      transparent calc(50% - 8px),
      $primary-35 calc(50% - 8px),
      $primary-35 100%
    );
    &.no-link {
      background-image: none;
    }
  }
  a:hover {
    background-image: linear-gradient(
      transparent,
      transparent calc(50% - 8px),
      $primary-80 calc(50% - 8px),
      $primary-80
    );
    background-position: 0 100%;
    &.no-link {
      background-image: none;
    }
  }
  p {
    @apply text-base my-2 text-justify break-words;
    &[align="center"]{
      text-align: center !important;
    }
  }
  img {
    @apply max-w-full mx-auto mb-4 inline;
  }
  ul {
    @apply list-disc ml-6;
  }
  ol {
    @apply list-decimal ml-6;
  }
  blockquote {
    border-left: solid var(--color-primary);
    @apply pl-4 text-justify w-full;
  }

  code {
    @apply inline break-words p-0 px-1 shadow bg-light text-white max-w-full rounded overflow-x-auto;
  }
  pre code {
    @apply pt-4 pb-3 px-3 block;
  }
  pre code.bash,
  pre code.sh,
  pre code.css,
  pre code.html,
  pre code.js,
  pre code.javascript,
  pre code.ts,
  pre code.ts,
  pre code.typescript,
  pre code.md,
  pre code.markdown,
  pre code.php,
  pre code.kotlin,
  pre code.kt,
  pre code.python,
  pre code.py {
    @apply relative pt-8;
  }
  pre code.bash:after,
  pre code.sh:after,
  pre code.css:after,
  pre code.html:after,
  pre code.js:after,
  pre code.javascript:after,
  pre code.ts:after,
  pre code.typescript:after,
  pre code.md:after,
  pre code.markdown:after,
  pre code.php:after,
  pre code.kotlin:after,
  pre code.kt:after,
  pre code.python:after,
  pre code.py:after {
    @apply p-1 absolute bg-primary overflow-hidden;
    top: -1px;
    left: 2rem;
  }

  pre code.bash:before,
  pre code.sh:before,
  pre code.css:before,
  pre code.html:before,
  pre code.js:before,
  pre code.javascript:before,
  pre code.ts:before,
  pre code.typescript:before,
  pre code.md:before,
  pre code.markdown:before,
  pre code.php:before,
  pre code.kotlin:before,
  pre code.kt:before,
  pre code.python:before,
  pre code.py:before {
    @apply p-1 absolute bg-primary overflow-hidden;
    top: -1px;
    right: 2rem;
    font-family: 'icomoon';
    content: '\e938';
  }

  pre code.css:after {
    content: 'css';
  }
  pre code.js:after,
  pre code.javascript:after {
    content: 'javascript';
  }
  pre code.ts:after,
  pre code.typescript:after {
    content: 'typescript';
  }
  pre code.markdown:after,
  pre code.md:after {
    content: 'markdown';
  }
  pre code.html:after {
    content: 'html';
  }
  pre code.py:after,
  pre code.python:after {
    content: 'python';
  }
  pre code.php:after {
    content: 'php';
  }
  pre code.bash:after,
  pre code.sh:after {
    content: 'bash';
  }

  pre code::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  pre code::-webkit-scrollbar-track {
    @apply bg-white;
  }
  pre code::-webkit-scrollbar-thumb {
    @apply bg-dark;
    transition: background-color 0.3s;
  }
  pre code::-webkit-scrollbar-thumb:hover {
    @apply bg-dark;
  }

  table {
    @apply bg-light text-gray-light table;
    thead {
      @apply font-bold align-baseline;
    }
    th,
    td {
      @apply px-3 px-3;
    }
    th + td,
    td + td {
      @apply border-l-1 border-solid border-gray-light;
    }
    tbody {
      @apply align-middle table-row-group;
      tr {
        &:nth-child(2n) {
          @apply bg-dark;
        }
        td {
          @apply table-cell;
        }
      }
    }
  }
  .emoji {
    height: 1rem;
    margin: 0;
    padding: 0;
  }
}
